html,
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

.gradient-jumbotron {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.30015756302521013) 29%, rgba(0, 0, 0, 0.8127626050420168) 100%);
  min-height: 50vh;
}

.jumbotron-mask {
  background-image: url('/rhino.jpg');
  background-size: cover;
  background-position: center;
}

.squared {
  border-radius: 0 !important;
}

.jumbo-image {
  background-image: url('/rhino.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}